{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
    ],
    "plugins": [
        "react-hot-loader/babel",
        ["import", {
            "libraryName": "antd",
            "libraryDirectory": "es",
            "style": "css" // 使用css无法通过更变less变量来更改主题
          }],
        [
            "@babel/plugin-proposal-decorators",
            {"legacy": true}
        ],
        [
            "@babel/plugin-proposal-class-properties",
            {"loose": true}     
        ],
        "@babel/plugin-transform-runtime"
    ]
}